* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-size: 0px; */
}

body {
	font-family:'Open Sans', sans-serif;
}

p {
	line-height: 1.7;
	color:#666666;
}

.align-items-center {
  align-items: center;
}

.badge {
	font-family: 'Poppins', sans-serif;
	background-color: #20c967;
	padding: 3px;
	border-radius: 10px;
	font-size: 14px;
}

.bg-dark {
  background-color: #1e1f26;
}

.bg-greenlight {
	background-color: #20c997;
}

.bg-greenlight:hover {
	background-color: #28a745;
	box-shadow: 0px 0px 3px rgba(41, 42, 43, 0.48);
}

.border-download{
	border-radius: 50px;
	text-decoration: none;
}

.border-whatsapp {
  border:1px solid #20c967;
  padding: 5px;
  border-radius: 10px;
}

.border-whatsapp:hover {
  background-color: #20c967;
  color: white;
}

.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.col {
	flex: 1 0 0%; /* primer valor es flex grow flex-shrink flex-basis*/
}

.col-auto {
	width: auto;
}

.col-1 {
	width: 8.333333%;
}

.col-2 {
	width: 16.666667%;
}

.col-3 {
	width: 25%;
}

.col-4 {
	width: 33.333333%;
}

.col-5 {
	width: 41.666667%;
}

.col-6 {
	width: 50%;
}

.col-7 {
	width: 58.333333%;
}

.col-8 {
	width: 66.666667%;
}

.col-9 {
	width: 75%;
}

.col-10 {	
	width: 83.333333%;
}

.col-11 {
	width: 91.666667%;
}

.col-12 {
	width: 100%;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

div ul {
	list-style: none;
}

.font-size-medium {
  font-size: 22px;
}

.font-size-sub {
  font-family:'Open Sans', sans-serif;
  font-size: 24px;
}

.font-personalized-movil {
  font-size: 66px;
}

.icon-greenlight {
	color: #20c997;
}

ul.hidden {
  display: none;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.m-auto {
  margin: auto;
}

.m-1 {
  margin: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.m-4 {
  margin: 1.5rem;
}

.m-5 {
  margin: 3rem;
}


.mx-0 {
  margin-right: 0;
  margin-left: 0;
}

.mx-1 {
  margin-right: 1px;
  margin-left: 1px;
}

.mx-2 {
  margin-right: 2px;
  margin-left: 2px;
}

.mx-3 {
  margin-right: 3px;
  margin-left: 3px;
}

.mx-4 {
  margin-right: 4px;
  margin-left: 4px;
}

.mx-5 {
  margin-right: 5px;
  margin-left: 5px;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-10 {
  margin-top: 10px;
}

.mt-menos-center {
  margin-top: -60px;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.my-4 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.my-5 {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.menu-list li a{
  display: block;
	padding-top: 10px;
	padding-bottom: 10px;
  text-decoration: none;
  font-family:'Open Sans', sans-serif;
  border-bottom: 1px solid white;
}

.menu-list li a:hover {
  color:#20c997;
}

.number {
	font-family: 'Poppins', sans-serif;
	font-size: 60px;
	color: #6c757d;
}

.text-white, li a {
  color: white;
}

.text-greenlight {
  color:#20c997;
}

.text-red {
	color: #dc3545;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: right;
}

.text-24 {
  line-height: 1.3;
  color: rgba(222, 227, 228, 0.6);
  text-transform: uppercase;
  font-weight: 600;
}

.title-h1 {
  font-family: 'Poppins', sans-serif;
	font-size: 21px;
}

.text-paragrap {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.text-decoration-0 {
  text-decoration: none;
}

.row {
	display: flex;
	flex: 1 0 100%;
	flex-wrap: wrap;
	margin-top: 5px;
	margin-right: 10px;
	margin-left: 10px;
}

.row > * {
	flex-shrink: 0px;
	width: 100%;
	max-width: 100%;
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.p-relative {
  position: relative;
  
}

.p.absolute {
  position:absolute;
}

.p-bg-absolute-dark {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.40);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.programador-principal {
  width: 100%;
  height: 520px;
  background-color: #c738385d;
  background-image: url("../img/personas-programando-imagen-de-fondo-principal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.px-3 {
	padding-right: 1rem;
	padding-left: 1rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.sub-line {
  border-bottom:5px solid #20c997;
}

.sub-line-contact {
	border-bottom: 1px solid #eaeaea;
}

.sub-line-summary {
	border: 1px solid #eaeaea;
}

.sub-title {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
}

.border-small-green {
  width: 100px;
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
	.col-sm {
		flex: 1 0 0%;
	}

	.border-sm-right-gray {
		border-right:1px solid #6c757d;
	}

	.font-personalized-sm {
		font-size: 80px;
	}

	.mt-menos-center-sm {
		margin-top: -70px;
	}

	.title-h1-sm {
		font-family: 'Poppins', sans-serif;
		font-size: 21px;
		text-align: left;
	}
	
	.col-sm-auto {
		width: auto;
	}
	
	.col-sm-1 {	
		width: 8.333333%;
	}
	
	.col-sm-2 {	
		width: 16.666667%;
	}
	
	.col-sm-3 {	
		width: 25%;
	}
	
	.col-sm-4 {	
		width: 33.333333%;
	}
	
	.col-sm-5 {	
		width: 41.666667%;
	}
	
	.col-sm-6 {	
		width: 50%;
	}
	
	.col-sm-7 {	
		width: 58.333333%;
	}
	
	.col-sm-8 {	
		width: 66.666667%;
	}
	
	.col-sm-9 {
		width: 75%;
	}
	
	.col-sm-10 {
		width: 83.333333%;
	}
	
	.col-sm-11 {
		width: 91.666667%;
	}
	
	.col-sm-12 {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.col-md {
		flex: 1 0 0%;
	}

	.border-md-right-none {
		border-right:none;
	}

	.font-personalized-md {
		font-size: 90px;
	}

	.mt-menos-center-md {
		margin-top: -80px;
	}
	
	.col-md-auto {
		width: auto;
	}
	
	.col-md-1 {
		width: 8.333333%;
	}
	
	.col-md-2 {
		width: 16.666667%;
	}
	
	.col-md-3 {
		width: 25%;
	}
	
	.col-md-4 {
		width: 33.333333%;
	}
	
	.col-md-5 {
		width: 41.666667%;
	}
	
	.col-md-6 {
		width: 50%;
	}
	
	.col-md-7 {
		width: 58.333333%;
	}
	
	.col-md-8 {
		width: 66.666667%;
	}
	
	.col-md-9 {
		width: 75%;
	}
	
	.col-md-10 {
		width: 83.333333%;
	}
	
	.col-md-11 {
		width: 91.666667%;
	}
	
	.col-md-12 {
		width: 100%;
	}

	.text-right-md {
		text-align: right;
	}

	.text-left-md {
		text-align: left;
	}

	.menu-list li a {
		border-bottom: none;
	}
}

@media (min-width: 992px) {
	.col-lg {
		flex: 1 0 0%;
	}

	.font-personalized-lg {
		font-size: 100px;
	}
	
	.col-lg-auto {
		width: auto;
	}
	
	.col-lg-1 {
		width: 8.333333%;
	}
	
	.col-lg-2 {
		width: 16.666667%;
	}
	
	.col-lg-3 {
		width: 25%;
	}
	
	.col-lg-4 {
		width: 33.333333%;
	}
	
	.col-lg-5 {	
		width: 41.666667%;
	}
	
	.col-lg-6 {
		width: 50%;
	}
	
	.col-lg-7 {
		width: 58.333333%;
	}
	
	.col-lg-8 {
		width: 66.666667%;
	}
	
	.col-lg-9 {
		width: 75%;
	}
	
	.col-lg-10 {
		width: 83.333333%;
	}
	
	.col-lg-11 {
		width: 91.666667%;
	}
	
	.col-lg-12 {
		width: 100%;
	}
}

@media (min-width: 1200px) {
	.col-xl {
		flex: 1 0 0%;
	}
	
	.col-xl-auto {
		width: auto;
	}
	
	.col-xl-1 {
		width: 8.333333%;
	}
	
	.col-xl-2 {
		width: 16.666667%;
	}
	
	.col-xl-3 {
		width: 25%;
	}
	
	.col-xl-4 {
		width: 33.333333%;
	}
	
	.col-xl-5 {
		width: 41.666667%;
	}
	
	.col-xl-6 {
		width: 50%;
	}
	
	.col-xl-7 {
		width: 58.333333%;
	}
	
	.col-xl-8 {
		width: 66.666667%;
	}
	
	.col-xl-9 {
		width: 75%;
	}
	
	.col-xl-10 {
		width: 83.333333%;
	}
	
	.col-xl-11 {
		width: 91.666667%;
	}
	
	.col-xl-12 {
		width: 100%;
	}
}

@media (min-width: 1400px) {
	.col-xxl {
		flex: 1 0 0%;
	}
	
	.col-xxl-auto {
		width: auto;
	}
	
	.col-xxl-1 {
		width: 8.333333%;
	}
	
	.col-xxl-2 {
		width: 16.666667%;
	}
	
	.col-xxl-3 {
		width: 25%;
	}
	
	.col-xxl-4 {
		width: 33.333333%;
	}
	
	.col-xxl-5 {
		width: 41.666667%;
	}
	
	.col-xxl-6 {
		width: 50%;
	}
	
	.col-xxl-7 {
		width: 58.333333%;
	}
	
	.col-xxl-8 {
		width: 66.666667%;
	}
	
	.col-xxl-9 {
		width: 75%;
	}
	
	.col-xxl-10 {
		width: 83.333333%;
	}
	
	.col-xxl-11 {
		width: 91.666667%;
	}
	
	.col-xxl-12 {
		width: 100%;
	}
}